:root {
    --primary-color: aquamarine;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    margin: 0;
}

#root > main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
