.search {
  background-color: var(--primary-color);
  height: calc(8px * 6 - 1px);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: box-shadow 0.2s ease-in-out;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  border: 1px solid color-mix(in srgb, black 10%, var(--primary-color));
}

.search-svg-pattern {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.search-svg-pattern rect {
  transform: translate(-1px, -1px);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.search.search--scrolled {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.274);
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  width: 120px;
}

.sync-status {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.521);
  font-family: monospace;
}

.person-list {
  --gap: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.person-list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.person-page {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.person-page li {
  list-style: none;
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-message {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}
