.search {
  background-color: var(--primary-color);
  height: calc(8px * 6 - 1px);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: box-shadow 0.2s ease-in-out;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  border: 1px solid color-mix(in srgb, black 10%, var(--primary-color));
}

.search-svg-pattern {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.search-svg-pattern rect {
  transform: translate(-1px, -1px);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

.search.search--scrolled {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.274);
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sync-status {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.521);
  font-family: monospace;
}

.person-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.person-chunk {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }

  li:not(:first-child) {
    margin-top: 10px;
  }
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-message {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.page-counter,
.next-page-loader {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(8px * 4 - 1px);
  border: 1px solid color-mix(in srgb, black 10%, white);
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f8f8;
  margin: 10px 0;
}

.next-page-loader {
  margin-bottom: 0;
}

.page-counter-svg-pattern {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

.page-counter-svg-pattern rect {
  transform: translate(-1px, -1px);
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}
